* {
   margin: 0;
}

body {
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   color: #363636;
   background-color: #363636;
}

.wrapper {
   max-width: 1000px;
   display: grid;
   grid-template-areas:
      "head main"
      "head foo";
   grid-template-columns: 35% 1fr;
   grid-template-rows: auto 100px;
   margin: 0 auto;
}

mark {
   background-color: #e4cec1;
}

header {
   position: relative;
   grid-area: head;
   min-height: 100vh;
   background-color: #f5f5f5;
   box-shadow: 6px 6px 16px rgba(83, 86, 90, 0.5);
   z-index: 0;
}

main {
   box-sizing: border-box;
   grid-area: main;
   min-height: calc(100% - 120px);
   padding: 40px 50px 0;
   background-color: #ffff;
}

footer {
   box-sizing: border-box;
   grid-area: foo;
   background-color: #ffff;
}

section {
   padding-bottom: 30px;
}

.container {
   padding: 0 3em;
   text-align: center;
}

.visually-hidden {
   position: absolute;
   z-index: -1;
   width: 0;
   height: 0;
   overflow: hidden;
}

.header__img {
   position: absolute;
   top: 0;
   left: 0;
   max-width: 100%;
   object-fit: cover;
}

.header {
   margin-top: 385px;
}

hr {
   max-width: 250px;
   margin: 0.5em 0 1em;
   border: 0.5px solid #e4cec1;
}

.header__title {
   font-size: 2.5em;
   font-weight: 700;
}

.header__subtitle {
   margin-bottom: 1em;
}

h2 {
   font-size: 1.3em;
   font-weight: 500;
}

h3 {
   font-size: 1.3em;
}

.contacts-block__location {
   margin-bottom: 2em;
}

ul {
   padding-left: 0;
   list-style-type: none;
   text-align: left;
}

.header__list {
   cursor: pointer;
}

li a {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #363636;
}

.header__list li,
.education__list li {
   display: flex;
   align-items: center;
   margin-bottom: 1em;
}

.header__list li:hover {
   fill: #e4cec1;
}

.link__github a:hover svg {
   fill: rgb(248, 75, 6)
}

.link__mail:hover svg {
   fill: #0059ff;
}

.link__phone:hover svg {
   fill: rgb(64, 211, 27);
}

.link__skype:hover svg {
   fill: #0cb0fc;
}

li svg {
   margin-right: 0.5em;
}

.skills__list svg {
   margin-right: 0;
}

.skills__list {
   display: flex;
   justify-content: space-between;
}

.skills__list li {
   text-align: center;
}

.languages__list li {
   margin-bottom: 1em;
}

.projects {
   box-shadow: 6px 6px 16px rgba(83, 86, 90, 0.5);
   transition: all 0.5s ease;
   background-color: #f5f5f5;
}

.projects:hover {
   transition: all 0.5s ease;
   transform: scale(1.02);
}

.projects:not(:nth-of-type(2)) {
   margin-bottom: 2em;
}

.projects a {
   display: flex;
   text-decoration: none;
   font-size: 18px;
   color: #363636;
}

.projects img {
   width: 180px;
   height: 180px;
   object-fit: cover;
}

.projects div {
   padding: 1.4em 1em;
}

.projects__title {
   margin-bottom: 1em;
   font-weight: 600;
}

footer {
   padding: 0 80px 30px;
}

footer>hr {
   min-width: 100%;
}

footer p {
   text-align: center;
}

.footer__list {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
   padding: 0;
   margin-bottom: 15px;
   list-style-type: none;
}

.link__rs:hover svg {
   fill: #fbc933;
}